body{
    margin: 0;
}
h1{
    text-align: center;
}
tr{
    border: 1px solid #dbd8d8;
    height: 1.8rem;
}
tr:nth-child(odd){
    background-color: #eee;
}
td,th{
    padding-left: 1rem;
}
th{
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}